name: Upload release assets

on:
  push:
    tags:
      - "r*"

  workflow_call:
    inputs:
      release-tag:
        required: true
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-archive:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        package:
        - default-x11-personalized

    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ inputs.release-tag }}

    - uses: cachix/install-nix-action@v24
      with:
        extra_nix_config: |
          access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
          accept-flake-config = true

    - name: Build an offline archive
      run: nix run .#${{ matrix.package }}.archive-builder

    - uses: akirak/action-gh-release@master
      with:
        tag_name: ${{ inputs.release-tag || github.ref_name }}
        files: |
          *.zstd
